@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ThinkBase Portal</title>
    <style>

        body {
            height: 100%;
            margin: 0;
            overflow: auto;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Subscription/subscribe.css" />
    @RenderSection("header", required: false)

    @RenderSection("StyleSheets", required: false)


</head>
<body>
    @Html.AntiForgeryToken()
    <partial name="_containerHeader" />
    @RenderBody()
    <partial name="_footer" />

    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/graphql/graphql.min.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>