@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DARL GraphQL API Portal</title>
    <style>

        body {
            height: 100%;
            margin: 0;
            overflow: auto;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    @RenderSection("header", required: false)

    @RenderSection("StyleSheets", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117408682-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117408682-4');
    </script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" href="https://darl.ai">
                    <img src="/images/logo.png" alt="">
                    GraphQL API<span style="color: #0026ff"> &beta;</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="voyager">Voyager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="graphiql">Graphiql</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Darl editing
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="darleditor">DARL editor</a>
                                <a class="dropdown-item" href="rulesettext">DARL text</a>
                                <a class="dropdown-item" href="rulesetformat">DARL format</a>
                                <a class="dropdown-item" href="rulesetextra">DARL extra</a>
                                <a class="dropdown-item" href="darlevaluator">DARL evaluation</a>
                                <a class="dropdown-item" href="bottree">Bot tree</a>
                                <a class="dropdown-item" href="UploadCollateral">Upload resources</a>
                                @if (User.Identity.IsAuthenticated )
                                {
                                    <a class="dropdown-item" href="GraphEdit">Edit a Knowledge Graph</a>
                                }
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/docs/">Read me!</a>
                        </li>
                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {
                            <a href="/MicrosoftIdentity/account/signin" class="btn btn-rounded btn-primary">Log in/Register</a>
                            }
                            else
                            {
                            <a href="/MicrosoftIdentity/account/signout" class="btn btn-rounded btn-primary">Log out</a>
                            }
                        </li>
                        @if(User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form method="POST" asp-page="./index">
                                    <button class="btn btn-rounded btn-primary" type="submit">Billing</button>
                                </form>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="docs/darl_dev/" target="_blank"><img src="~/images/help_small.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="modalIntro" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Welcome to Darl.dev</h3>
                </div>
                <div class="modal-body" id="modalBody">
                    <p>This site provides GraphQL access to our <a href="https://darl.ai" target="_blank">DARL expert system, machine learning and Bot functionality</a>.</p>
                    <p>
                        This is a tenanted site. If you <a href="/azureadb2c/account/signin">register</a> you get your own account with an initial free set of expert system rulesets, machine learning examples and a bot model, which you can modify or add to as you please. The API permits you to embed rulesets and bots in your own applications.
                    </p>
                    <p>
                        If you don’t register you can query the default examples, but not modify them.
                    </p>
                    <p>
                        Registration is free with no monthly charges and there is a generous allowance of free ruleset and bot usage. If you exceed this usage the <a href="https://darl.ai/#pricing" target="_blank">charges</a> won’t break the bank.
                    </p>
                    <p>
                        GraphQL has excellent tooling, and we’ve included state of the art tools to access and explore our API. This page contains a Playground interface; other pages contain a Voyager object browser to explore the large object model employed by DARL, and GraphiQL, an alternate user interface.
                    </p>
                    <p>
                        Pages also exist for specialized editing, like our DARL interactive editor.
                    </p>
                    <p>
                        Please <a href="/azureadb2c/account/signin">Register now</a>. You can <a href="docs/darl_dev/" target="_blank">read more about this site here</a>.
                    </p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <footer class="footer text-center">
        <p class="footer">&copy; @DateTime.Now.Year - Dr Andy's IP. DARL® is a registered trademark of Dr Andy's IP. <a href="https://darl.ai/home/terms" target="_blank">Terms </a><a href="https://darl.ai/home/terms" target="_blank">Privacy </a> RQRF</p>

    </footer>


    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            if (localStorage.getItem('popState') != 'shown') {
                $("#modalIntro").modal('show');
                localStorage.setItem('popState', 'shown')
            }

            $('#popup-close').click(function (e) // You are clicking the close button
            {
                $('#modalIntro').fadeOut(); // Now the pop up is hiden.
            });
            $('#modalIntro').click(function (e) {
                $('#modalIntro').fadeOut();
            });
        });
    </script>
</body>
</html>