@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DARL GraphQL API Portal - Graphiql</title>
    <style>

        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            width: 100%;
        }

        #graphiql {
            height: 100vh;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Subscription/subscribe.css" />
    @RenderSection("header", required: false)

    @RenderSection("StyleSheets", required: false)
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117408682-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117408682-4');
    </script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" href="https://darl.ai">
                    <img src="/images/logo.png" alt="">
                    GraphQL API<span style="color: #0026ff"> &beta;</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="api">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="voyager">API objects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="ThinkBaseVR">VR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="docs">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a data-toggle="modal" href="#modalPricing" class="nav-link text-dark">Pricing</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="https://discord.gg/4BaqGFukNG">Discord support</a>
                        </li>
                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="/MicrosoftIdentity/account/signin" class="btn btn-rounded btn-primary">Log in/Register</a>
                            }
                            else
                            {
                                <a href="/MicrosoftIdentity/account/signout" class="btn btn-rounded btn-primary">Log out</a>
                            }
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form method="POST" asp-page="./index">
                                    <button class="btn btn-rounded btn-primary" type="submit">Billing</button>
                                </form>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-dark" href="docs/darl_dev/" target="_blank"><img src="~/images/help_small.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="modalPricing" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Subscriptions</h3>
                </div>
                <div class="modal-body" id="modalBody">
                    <p>Choose a subscription</p>
                    <div class="row">
                        <partial name="_prices" model="Model.products" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()
    <footer class="footer text-center">
        <p class="footer">&copy; @DateTime.Now.Year - Dr Andy's IP. DARL® is a registered trademark of Dr Andy's IP. <a href="https://darl.ai/home/terms" target="_blank">Terms </a><a href="https://darl.ai/home/terms" target="_blank">Privacy </a>  RQRF, .Net core 3.1</p>

    </footer>

    @if (User.Identity.IsAuthenticated)
    {
        <input name="auth" id="auth" type="hidden" />
    }


    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/graphql/graphql.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(async function () {
            if (localStorage.getItem('popState') != 'shown') {
                await ShowMDBox("Welcome to ThinkBase", "/md/thinkbase/visitor_text.md");
                localStorage.setItem('popState', 'shown')
            }
            var priceId = getCookie("priceId");
            if (priceId) {
                document.cookie = "priceId=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                window.location.href = '/subscribe?priceId=' + priceId;
            }

            $('#popup-close').click(function (e) {
                $('#modalIntro').fadeOut();
            });

            $('#modalIntro').click(function (e) {
                $('#modalIntro').fadeOut();
            });

            const params = new URLSearchParams(window.location.search);
            if (params.get('newsubs')) {
                await ShowMDBox("Thanks for subscribing", "/md/thinkbase/Subscribe_text.md");
            }

        });

        function HandlePurchase(priceId) {
            $('#modalPricing').fadeOut();
            document.cookie = "priceId=" + priceId;
            if ($('#auth').length) {
                window.location.href = '/subscribe';
            }
            else {
                window.location.href = '/MicrosoftIdentity/account/signin';
            }
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        async function ShowMDBox(header, url) {
            $.get(url, function (data) {
                var converter = new showdown.Converter();
                var html = converter.makeHtml(data);
                var div = $("<div>", {
                    css: {
                        "width": "100%",
                        "margin-top": "1rem"
                    }
                }).html(html);

                $.MessageBox({
                    message: header,
                    input: div,
                    queue: false
                }).done(function (data) {
                    console.log(data);
                });
            });
        }
    </script>
</body>
</html>