@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DARL GraphQL API Portal - Graphiql</title>
    <style>

        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            width: 100%;
        }

        #graphiql {
            height: 100vh;
        }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    @RenderSection("header", required: false)

    @RenderSection("StyleSheets", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117408682-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117408682-1');
    </script>


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" href="https://darl.ai">
                    <img src="/images/logo.png" alt="">
                    GraphQL API<span style="color: #0026ff"> &beta;</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="voyager">Voyager</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="graphiql">Graphiql</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Darl editing
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="darleditor">DARL editor</a>
                                <a class="dropdown-item" href="darlevaluator">DARL evaluation</a>
                                <a class="dropdown-item" href="UploadCollateral">Upload resources</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/docs/">Read me!</a>
                        </li>
                        <li class="nav-item">
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <a href="/azureadb2c/account/signin" class="btn btn-rounded btn-primary">Log in/Register</a>
                            }
                            else
                            {
                                <a href="/azureadb2c/account/signout" class="btn btn-rounded btn-primary">Log out</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="docs/darl_dev/" target="_blank"><img src="~/images/help_small.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderBody()
    <footer class="footer text-center">
        <p class="footer">&copy; 2019 - Dr Andy's IP. DARL® is a registered trademark of Dr Andy's IP. <a href="https://darl.ai/home/terms" target="_blank">Terms </a><a href="https://darl.ai/home/terms" target="_blank">Privacy </a>  <span>Assembly Version = @Microsoft.Extensions.PlatformAbstractions.PlatformServices.Default.Application.ApplicationVersion;</span> .Net core 3.0. RQRF</p>

    </footer>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v4.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="2019545694937236">
    </div>

    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>