@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@using System.Security.Principal


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ThinkBase</title>
    <style>

        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            width: 100%;
        }

        #graphiql {
            height: 100vh;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Subscription/subscribe.css" />
    @RenderSection("header", required: false)

    @RenderSection("StyleSheets", required: false)
 
    </script>



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" href="https://darl.ai">
                    <img src="/images/logo.png" alt="">
                    GraphQL API<span style="color: #0026ff"> &beta;</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="api">API</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="voyager">API objects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="ThinkBaseVR">VR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="docs">Documentation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="docs/darl_dev/" target="_blank"><img src="~/images/help_small.png" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

 
    @RenderBody()
    <footer class="footer text-center">
        <p class="footer">&copy; @DateTime.Now.Year - Dr Andy's IP. DARL® is a registered trademark of Dr Andy's IP. <a href="https://darl.ai/home/terms" target="_blank">Terms </a><a href="https://darl.ai/home/terms" target="_blank">Privacy </a>  RQRF, .Net core 3.1</p>

    </footer>

    @if (User.Identity.IsAuthenticated)
    {
        <input name="auth" id="auth" type="hidden" />
    }


    <script src="~/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/graphql/graphql.min.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>